<!DOCTYPE html>
<html lang="pt" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/padrao">
	
	<head>
		<title>Cadastro de usuário</title>
		<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
	</head>
	
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de usuário</h1>
		</div>
	</div>

	<div class="container-fluid">

		<!--  <div class="alert  alert-danger  alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
		</div>-->

		<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading">
		
			<div class="form-group">
				<label for="nome">Nome</label>
				<input type="text" id="nome" class="form-control" autofocus="autofocus"/>
			</div>
		
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="email">E-mail</label>
					<input type="text" id="email" class="form-control"/>
				</div>
					
				<div class="col-sm-3 form-group">
					<label for="dataNascimento">Data de nascimento</label>
					<input type="text" id="dataNascimento" class="form-control"/>
				</div>					
			</div>
			
			<div class="row">
				<div class="col-sm-3 form-group">
					<label for="senha">Senha</label>
					<input type="text" id="senha" class="form-control"/>
				</div>
			
				<div class="col-sm-3 form-group">
					<label for="confirmacaoSenha">Confirmação de senha</label>
					<input type="text" id="confirmacaoSenha" class="form-control"/>
				</div>
				
				<div class="col-sm-3 form-group">
					<label class="control-label">Status</label>
					<div>
						<input type="checkbox" class="js-status" data-size="small" data-off-color="danger"
							data-on-text="Ativo" data-off-text="Inativo" />
					</div>
				</div>					
			</div>
			
			<div class="row">
				<div class="col-sm-6 form-group">
					<label class="control-label">Grupos</label> 
					<div>
  						<div class="checkbox  checkbox-inline"> 
	    					<input type="checkbox" />
	    					<label>Administrador</label>
    					</div>
    					<div class="checkbox  checkbox-inline"> 
	    					<input type="checkbox" />
	    					<label>Vendedor</label>
    					</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>

		</form>
	</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
	
</html>