<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
	<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		<span th:text="${mensagem}"></span>
	</div>
</html>