<!DOCTYPE html>
<html lang="pt" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorator="layout/padrao">
	
	<head>
		<title>Cadastro de cerveja</title>
		
		<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	</head>
	
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de cerveja</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<form method="POST" th:object="${cerveja}" class="form-vertical  js-form-loading">
			<brewer:message />		
			<div class="row">
				<div class="col-sm-2 form-group" brewer:classforerror="sku">
					<label for="sku" class="control-label">SKU</label>
					<input type="text" id="sku" class="form-control" autofocus="autofocus" th:field="*{sku}" />
				</div>
					
				<div class="col-sm-10 form-group" brewer:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input type="text" id="nome" class="form-control" th:field="*{nome}"/>
				</div>					
			</div>
				
			<div class="form-group" brewer:classforerror="descricao">
				<label for="descricao" class="control-label">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
			</div>
				
			<div class="row">
				<div class="col-sm-3 form-group" brewer:classforerror="estilo">
					<label for="estilo" class="control-label">Estilo</label>
					<div class="bw-field-action">
						<select id="estilo" class="form-control" th:field="*{estilo}">
							<option value="">Selecione o estilo</option>
							<option th:each="estilo : ${estilos}" th:value="${estilo.id}" th:text="${estilo.nome}" />
						</select>
						
						<div class="bw-field-action_icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroEstilo">
								<i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>
			
				<div class="col-sm-3 form-group" brewer:classforerror="sabor">
					<label for="sabor" class="control-label">Sabor</label>
					<select id="sabor" class="form-control" th:field="*{sabor}">
						<option value="">Selecione o sabor</option>
						<option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"/>
					</select>
				</div>
			
				<div class="col-sm-3 form-group" brewer:classforerror="teorAlcoolico">
					<label for="teorAlcoolico" class="control-label">Teor alcoólico</label>
					<div class="input-group">
						<input type="text" id="teorAlcoolico" class="form-control js-decimal" th:field="*{teorAlcoolico}" />
						<div class="input-group-addon">%</div>
					</div>
				</div>
					
				<div class="col-lg-3 col-sm-6 form-group" brewer:classforerror="origem">
					<label for="origem" class="control-label">Origem</label>
					<div>
						<th:block th:each="origem : ${origens}">
							<div class="radio radio-inline">
								<input type="radio" th:id="|id_${origem}|" th:value="${origem}" th:field="*{origem}">
								<label th:for="|id_${origem}|" th:text="${origem.descricao}"></label>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-3 form-group" brewer:classforerror="valor">
					<label for="valor" class="control-label">Valor</label>
					<div class="input-group">	
						<div class="input-group-addon">R$</div>
						<input type="text" id="valor" class="form-control js-decimal" th:field="*{valor}"/>
					</div>
				</div>
					
				<div class="col-sm-3 form-group" brewer:classforerror="comissao">
					<label for="comissao" class="control-label">Comissão</label>
					<div class="input-group">	
						<input type="text" id="comissao" class="form-control js-decimal" th:field="*{comissao}" />
						<div class="input-group-addon">%</div>
					</div>
				</div>
					
				<div class="col-sm-3 form-group" brewer:classforerror="quantidadeEstoque">
					<label for="estoque" class="control-label">Estoque</label>
					<input type="text" id="estoque" class="form-control js-plain" th:field="*{quantidadeEstoque}"/>
				</div>
			</div>
		
			<div class="row">
				<div class="form-group  col-sm-12">
					<input type="hidden" th:field="*{foto}">
					<input type="hidden" th:field="*{contentType}">
					
					<label class="control-label">Foto</label>
					
					<div id="upload-drop" class="bw-upload">
						<i class="glyphicon  glyphicon-cloud-upload"></i>
						<span>Arraste a foto aqui ou </span>
						<a class="bw-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
					</div>
				</div>
			</div>
		
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>

		</form>
	</div>
	<div th:replace="estilo/modalCadastroEstilo :: modalCadastroEstilo"></div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/modalCadastroEstilo.js}"></script>
		<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
		<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
		
		<script>
			$(function(){
				var settings = {
						type: 'json',
						filelimit: 1,
						allow: '*.(jpg|jpeg|png)',
						action: '/brewer/fotos',
						complete: function (resposta){
							$('input[name=foto]').val(resposta.nome);
							$('input[name=contentType]').val(resposta.contentType);
						}
				};
				
				UIkit.uploadSelect($("#upload-select"), settings);
				UIkit.uploadDrop($("#upload-drop"), settings);
			});
		</script>
		
	</th:block>
	
</html>